/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    width: 100%;
    height: 100%;
}

body * {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container > div {
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#logo {
    font-size: 2.2rem;
    font-weight: bold;
}

#login {
    font-size: 1.2rem;
    font-weight: lighter;
    border-radius: 6px;
    border-width: 0px;
    background-color:rgba(51, 51, 51, 0.05);
    transition: background-color 0.25s;
    padding: 10px;
}

#login:hover {
    background-color: grey;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(51, 51, 51, 0.05);
}

#add-book-button {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    border-width: 0px;
    background-color: transparent;
    transition: background-color 0.25s;
    padding: 12px;
}

#add-book-button:hover {
    background-color: grey;
}

.add-book-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 300px;
    height: 380px;
    background-color:rgba(51, 51, 51, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
}

.add-book-form > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.add-book-form > p {
    margin-top: 20px;
    font-weight: bold;
    flex: 1;
}

#title, #author, #pages {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 240px;
}

.read-or-unread {
    flex: 1;
}

#submit {
    margin: 10px;
    margin-bottom: 20px;
    padding: 6px;
    width: 260px;
    border-radius: 10px;
    background-color: lightgreen;
}

.library {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgba(51, 51, 51, 0.05);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}